@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS Loader Spinner */
.loader {
    border-top-color: #3498db;
    /* Color del borde superior del spinner */
    animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}